Source: dctrl2xml
Section: utils
Priority: optional
Maintainer: Frank S. Thomas <frank@thomas-alfeld.de>
Build-Depends: cdbs (>= 0.4.0), debhelper (>= 4.1.0)
Standards-Version: 3.6.1

Package: dctrl2xml
Architecture: all
Depends: ${python:Depends}
Description: bla
 bla
