Source: dctrl2xml
Section: utils
Priority: optional
Maintainer: Frank S. Thomas <fst@debian.org>
Standards-Version: 3.7.3
Build-Depends: cdbs (>= 0.4.43), debhelper (>= 5.0.37.2), python-dev (>= 2.3.5-11), python-support (>= 0.3.2), docbook2x, docbook-xml

Package: dctrl2xml
Architecture: all
Depends: ${python:Depends}, python-debian, python-elementtree
Description: Debian package control file to XML converter
 The dctrl2xml program converts the content of Debian package control
 files into a XML representation.
