Source: dctrl2xml
Section: utils
Priority: optional
Maintainer: Frank S. Thomas <frank@thomas-alfeld.de>
Standards-Version: 3.6.2
Build-Depends-Indep: cdbs (>= 0.4.23-1.1), build-essential, debhelper (>= 4.1.0), python, python-dev, docbook2x

Package: dctrl2xml
Architecture: all
Depends: ${python:Depends}, python-elementtree
Description: Debian package control file to XML converter
 The dctrl2xml program converts the content of Debian package control
 files into a XML representation.
