#!/usr/bin/make -f

DEB_AUTO_UPDATE_DEBIAN_CONTROL := yes

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

DEB_INSTALL_MANPAGES_dctrl2xml := doc/dctrl2xml.1

build/dctrl2xml::
	cd doc && $(MAKE)

clean::
	cd doc && -$(MAKE) clean
