#!/usr/bin/make -f

DEB_PYTHON_SYSTEM = pysupport

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

DEB_INSTALL_MANPAGES_dctrl2xml := doc/dctrl2xml.1

build/dctrl2xml::
	$(MAKE) -C doc

clean::
	$(MAKE) -C doc clean

test:
	ERRF=`mktemp`; \
	./dctrl2xml -f /var/lib/dpkg/available 2> $$ERRF | xmllint --format -; \
	apt-cache dumpavail | ./dctrl2xml 2> $$ERRF | xmllint --format -; \
	cat $$ERRF

DEB_PHONY_RULES += test
